body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("./images/fundo.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden; /* Adicionado para remover a rolagem lateral */
}

.App-header {
  background-color: #532f06;
  color: white;
  padding: 10px 20px;
  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 120px;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.App-header h1 a {
  color: #ffffff;
  text-decoration: none;
  margin: 20px 100px;
}

.App-header h1 a:hover {
  color: #c98a15;
  outline: none;
}

.header-nav ul {
  list-style-type: none;
  margin: 0px 20px;
  padding: 0;
  display: flex;
}

.header-nav ul li {
  margin-left: 10px;
}

.header-nav ul li:first-child {
  margin-left: 0;
}

.header-nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.header-nav ul li a:hover {
  color: #c98a15;
  outline: none;
}
