/* Estilos existentes */

.detalhes-container {
  max-width: 800px;
  margin: auto;
  border: 1px solid #532f06;
  border-radius: 5px;
  padding: 20px;
  background-color: #ebc6a4;
  margin-bottom: 90px;
}

.detalhes-info {
  margin-top: 20px;
}

.trabalhador-imagem {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.avaliacoes-container {
  width: 80%;
  margin-top: 20px;
}

.avaliacao {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.toggle-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  background-color: #ff9900;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-button:hover {
  background-color: #532f06;
  transform: translateY(-2px);
}

.toggle-button:focus {
  outline: none;
}

.whatsapp-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.whatsapp-button:hover {
  background-color: #532f06
}

/* Novos estilos para responsividade */

@media (max-width: 768px) {
  .detalhes-container { 
    padding: 10px;
  }

  .avaliacoes-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .detalhes-info {
    text-align: center;
  }

  .trabalhador-imagem {
    margin-bottom: 10px;
  }

  .toggle-button,
  .whatsapp-button {
    width: 100%;
    margin-left: 0;
  }
}
