.trabalhadores-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.trabalhadores-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: -10px;
  margin-bottom: 40px;
}

.trabalhador-card {
  background-color: #ffffff;
  border: 3px solid #853100;
  border-radius: 8px;
  padding: 45px;
  margin: 10px;
  width: calc(25% - 20px); /* Quatro cards por linha */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.trabalhador-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.trabalhador-card p {
  margin: 5px 0;
}

.trabalhador-nome {
  font-weight: bold;
  font-size: 1.2em;
}
