.login-container {
  max-width: 400px;
  margin: 70px auto;
  padding: 60px;
  border-radius: 8px;
  background-color: #532f06;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.login-container h2 {
  margin-top: 0;
}

.error-message {
  color: red;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #795d10;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #795d10;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #c98a15;
}
