.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ajuste conforme necessário */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80%; /* Altura máxima do modal em relação à janela */
  overflow-y: auto; /* Habilita scroll se o conteúdo exceder a altura máxima */
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Adicione margem inferior para separar o modal do fundo */
.modal-content {
  margin: 80px 80px; /* Ajuste conforme necessário */
}
