.stars {
  display: flex;
  font-size: 24px;
}

.star {
  color: lightgray;
}

.star.filled {
  color: rgb(204, 139, 41);
}

.star.half {
  color: rgb(204, 139, 41);
}

.star.empty {
  color: lightgray;
}
